
*{
    margin:0px;
    padding:0px;
}
body {
    margin: 0;
    background: linear-gradient(0.5turn,rgb(215, 200, 189),white);
    
    
}

.container {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 450px;
}
.bigc{
    height:650px;
    background-image: url(photos/ccb7.png);
    background-size: cover;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 13, 13);
    border-radius: 50%;
    position: absolute;
    top: 160%;
    left: 20%; /* position the circles */
    transform: translate(-50%, -50%);
    animation: rotate 11s linear infinite;
    opacity:0
}

.img {
    width: 10px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transform: translateY(50%);
}

.i1 {
    background-image: url(photos/chalana.png);
    background-size: cover;
}

.i2 {
    background-image: url(photos/ccb.png);
    background-size: cover;
}

.i3 {
    background-size: cover;
    background-image: url(photos/clasic.png);
}

.i4 {
    background-image: url(photos/media.png);
    background-size: cover;
}
.i5 {
    background-image: url(photos/jolt.png);
    background-size: cover;
}


@keyframes rotate {
    from {
        transform: rotate(0deg) translate(160px) rotate(0deg);
        opacity: 1;
        
    }
    to {
        transform: rotate(360deg) translate(160px) rotate(-360deg);
        opacity:1;
    }
}

.box:nth-child(1) {
    animation-delay: 0s;
}

.box:nth-child(2) {
    animation-delay: 2.1s;
}

.box:nth-child(3) {
    animation-delay: 4.5s;
}

.box:nth-child(4) {
    animation-delay: 7s;
}
.box:nth-child(5) {
    animation-delay: 9s;
}
.cc{
    width: 130px;
    position: absolute;
    left:700px;
    top:1230px;

}

.tittle{
    margin:30px;
    text-align: center;
}

    .photo-container {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        margin-bottom: 40px;
      }
      
      .photo {
        flex: 0 0 15%;
        opacity: 0;
        height: 250px;
       
        margin: 10px;
        border-radius: 2rem;
        box-shadow: 0px 0px 5px rgb(14, 1, 1);
        transform: translateX(-55%);
      }
      
      @keyframes slide-in {
        0% {
          opacity: 0;
          transform: translateX(-55%);
        }
        60% {
          opacity: 1;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      .photo:nth-child(1) {
        animation-delay: 0s;
      }
      .photo:nth-child(2) {
        animation-delay: 0.2s;
      }
      .photo:nth-child(3) {
        animation-delay: 0.5s;
      }
      .hidden {
        filter: blur(5px);
        }
        .show {
        filter: blur(0);
        animation: slide-in 1s ease-out forwards;
        }
       
           h1,h2{
            text-decoration: underline;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             text-align: center;
              margin: 60px;
           
}

            p{
                padding :40px;
                text-align: center;
                font-size: 23px;
            }
            .o{
                        text-align: center;
            }

            .space{
                height:450px
            }
            .ban{
                position: absolute;
                height: 400px;
                width:1000px;
                top: 140px;
                left: 270px;
                background-color: rgb(240, 255, 255,0.75);
                border-radius: 3rem;
                padding: 60px;text-align: center;}

                .f1{
                    
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 60px;
                    text-decoration: none;
                    color: aliceblue;
                }
                .f{
                    position: absolute;
                    top:110px;
                    left:100px;
                    font-size: 70px;
                    text-decoration: none;
                    margin-top: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .foot{
                    background-color: rgb(142, 202, 230);
                    width:100%;
                    height: 160px;
                    text-align: center;
                    margin-top: 90px;
                   }
                   .explore a {
                    color: rgb(247, 67, 18);
                    border-bottom: 1px solid rgb(247, 67, 18);
                    margin-left:3px;
                    margin-right: 3px;
                  }
                  .navbar-nav .nav-link:hover {
                      
                    border-bottom: 1px solid rgb(247, 67, 18);
                  }